html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

#navbar {
    height: 75px;
    width: 100%;
    background-color: rgb(80, 80, 80);
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

#navbar a:hover { 
    color: red;
    transition: color 1s;
}

#bgVideo {
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
    position: absolute;
}

.landing-section {
    height: 100vh;
    width: 100%;
}

.landing-section h1 {
    color: white;
    font-size: 24px;
    margin-top: 25%;
    margin-bottom: 5px;
    z-index: 2;
}

.landing-section p {
    color: white;
    margin-top: 5px;
}

.intro-section {
    height: 50vh;
    width: 100%;
}

.intro-section h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 5%;
}

.intro-section img {
    border-radius: 50%;
    height: 200px;
}

.intro-section p {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 65%;
    margin-top: 5%;
}

.gradient-section {
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(rgb(14, 14, 14), black );
}

.skills-section {
    width: 100%;
    height: 1500px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.skills-square {
    width: 50%;
    height: 50%;
    background-color: grey;
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 5px rgb(106, 106, 106);
}

.skills-square h1 {
    font-family: 'Major Mono Display';
}

.about-section {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/about-section-bg.png');
}

.about-section h1 {
    color: red;
    background-color: rgba(0, 0, 0, 0.59);
}

.about-section p {
    width: 65%;
    color: red;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.59);

} 

.github-section {
    width: 100%;
    height: 25vh;
    margin-top: 15%;
    margin-bottom: 15%;
}

.github-section img {
    width: 25%;
}

.github-section p {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 65%;
    margin-top: 5%;
}